#ga {
  background-color: blue;
  font-size: 25spx;
  height: 75px;
  width: 105px;
  margin: auto;
}

#wrap {
  background-color: green;
  margin-top: 100px;
  height: 505px;
  display: flex;
  justify-content: space-between;
}

#front {
  background-color: red;
  height: 50px;
  width: 50px;
  margin: 20px;
  position: absolute;
  transform: perspective(600px) rotateY (0deg)
  transition: transform .5s linear 0s;

} 

#back {
  position: absolute;
  transform: perspective(600px) rotateY (180deg);
  background-color: red;
  height: 50px;
  width: 50px;
  margin: 20px;
  transition: transform .5s linear 0s;
}

#wra {
  background-color: red;
  margin-top: 100px;
  height: 50px;
}